.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#product-search-form #pres-search-form {
  display: flex;
  flex-direction: column;
}

#pres-search-form div {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}

#pres-search-form label {
  font-size: 14px;
  color: #383838;
  font-family: "Merriweather" !important;
}
#pres-search-form select {
  padding: 0.5em;

  font-size: 16px;
  border-radius: 5px;
  border-color: #aaa;
}

#pres-search-form
  .select2-container
  .select2-selection--single
  .select2-selection__placeholder {
  font-size: 13px;
}

select#tag-dropdown option.placeholder {
  font-size: 13px;
  color: #999;
}

#pres-search-form .search-button {
  -webkit-appearance: none;
  background-color: #dcaa2e;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0.8em;
  text-transform: uppercase;
  transition: all 0.1s linear;
}
#pres-search-form .search-button:hover {
  background-color: #000;
  color: #fff;
}

#pres-search-form .select2-container .select2-selection--single {
  height: auto;
}
#pres-search-form
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: -webkit-fill-available;
}

/* Styles for Filter page */
.search-filter-container {
  display: flex;
}

.search-filter-container .product-search-form {
  width: 28%;
  padding: 20px;
}

.search-filter-container .bookformat-search label {
  font-size: 16px;
  border: none;
  padding: 5px 0px 5px 0px;
  font-weight: normal;
  margin-left: 5px;
}
.search-filter-container .pps-product-section {
  width: 72%;
}
.search-filter-container .pps-product-loop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}
.search-filter-container .product-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search-filter-container .product-thumbnail {
  width: 100%;
  text-align: center;
  display: flex;
  min-height: 300px;
}
.search-filter-container .prod-details {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
}
.search-filter-container .prod-details .product-price {
  font-size: 1em;
}
.search-filter-container .product-title .woocommerce-loop-product__title {
  text-align: center;
}

.search-filter-container .select2-container .select2-selection,
.post-type-archive-product .select2-container .select2-selection {
  border: 1px solid #aaa;
}

.search-filter-container .select2-dropdown .select2-dropdown--below,
.search-filter-container .select2-dropdown .select2-dropdown--above,
.post-type-archive-product .select2-dropdown .select2-dropdown--below,
.post-type-archive-product .select2-dropdown .select2-dropdown--above {
  border: 1px solid #ccc;
  border-top: none;
}
/*  */
.pps-product-loop .woocommerce-loop-product__title {
  font-size: 1em;
}

.woocommerce-pagination span.page-numbers.current,
a.next.page-numbers,
a.prev.page-numbers {
  padding: 5px 10px;
  background: #84b13b;
  color: white;
  font-weight: bold;
  border: 1px solid #84b139;
}

a.next.page-numbers:hover,
a.prev.page-numbers {
  text-decoration: none;
}
.pps-product-section .woocommerce-pagination {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #84b13b;
}
.woocommerce-pagination a.page-numbers,
.woocommerce-pagination .page-numbers.dots {
  padding: 5px 10px;
  border: 1px solid #84b139;
}
.woocommerce-pagination a.page-numbers:hover {
  text-decoration: none;
}
.format-checkbox {
  width: 18px; /* default ~14px, so this makes it bigger */
  height: 18px;
  cursor: pointer;
  accent-color: #84b13b; /* WP blue, you can change to your brand color */
  vertical-align: text-bottom;
  border: 2px solid #999999;
  border-radius: 4px;
}
.format-checkbox:checked {
  background-color: #84b13b;
}
.format-checkbox:checked:focus {
  outline: unset;

  outline-offset: unset;
}

/* Align label nicely */
.format-checkbox + label {
  font-size: 16px;
  cursor: pointer;
}
